.popup__input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    min-width: 358px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 121%;
    margin: 0;
    padding: 0;
    min-height: 27px;
    border: 1px solid red;
}

.popup__input:first-of-type {
    margin-bottom: 30px;
}